body {
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa; /* Bootstrap's light background color */
}

.logo img {
    height: 50px; /* Adjust logo size as needed */
}

.list-container ul {
    display: flex;
    list-style-type: none; /* Remove default bullets from list */
    margin: 0;
    padding: 0;
}

.list-container li {
    margin: 0 15px;
}

.list-container a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent element */
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .list-container ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .list-container li {
        margin: 10px 0;
    }
}
.maps {
    width: 60%;
    height: 600px; /* Adjust height as needed */
    border: none; /* Remove border for a cleaner look */
}
.map-container{
    justify-items: center;
    justify-content: center;
    display: flex;
}
.mycontainer-item img{
    width: 50%;
}
.mycontainer-item{
    width: 50%;
}
.mycontainer-item ul li{
    width: 90px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .services-container{
        flex-direction: column!important;
    }
    .maps{
        width: 100%;
        height: 300px;
    }
}
.gan-frame{
    width: 100%;
    height: 600px;
}

.heightt{
    height: 450px;
}
